[Desktop Entry]
Categories=Network;InstantMessaging;Application;
Name=Gajim
GenericName=Jabber IM Client
Comment=A GTK+ Jabber client
Version=0.6.1
Encoding=UTF-8
Exec=gajim
Icon=gajim.xpm
MimeType=application/x-executable
StartupNotify=true
StartupWMClass=Gajim
Terminal=false
Type=Application
ServiceTypes=DCOP/InstantMessenger
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=Gajim


GenericName[bg]=Jabber Съобщения в реално време
GenericName[ca]=Jabber Missatger a l'instant
GenericName[cy]=Jabber Negesydd Chwim
GenericName[el]=Jabber Στιγμιαίος αποστολέας
GenericName[es]=Jabber Mensajería instantánea
GenericName[et]=Jabber Kiirsuhtlemisrakendus
GenericName[fi]=Jabber Pikaviestiohjelma
GenericName[fr]=Jabber Messagerie instantanée
GenericName[hi]=Jabber इंस्टैंट मैसेंजर
GenericName[hu]=Jabber Internetes csevegő
GenericName[it]=Jabber Messaggistica istantanea
GenericName[nb]=Jabber Hutrigmelding
GenericName[pl]=Jabber Komunikator internetowy
GenericName[pt]=Jabber Mensageiro Instantâneo
GenericName[sl]=Jabber Neposredno sporočanje
GenericName[sr]=Jabber Брзи гласник
GenericName[sv]=Jabber Direktmeddelandeklient
GenericName[ta]=Jabber உடனடி தூதர்
GenericName[zh_CN]=Jabber 即时消息客户程序

Comment[bg]=Jabber Съобщения в реално време
Comment[ca]=Jabber Missatger a l'instant
Comment[cy]=Jabber Negesydd Chwim
Comment[el]=Jabber Στιγμιαίος αποστολέας
Comment[es]=Jabber Mensajería instantánea
Comment[et]=Jabber Kiirsuhtlusrakendus
Comment[fi]=Jabber Pikaviestiohjelma
Comment[fr]=Jabber Messagerie instantanée
Comment[gl]=Jabber Mensaxería Instantánea
Comment[he]=Jabber תוכנת מסרים מידיים
Comment[hi]=Jabber इंस्टैंट मैसेंजर
Comment[hu]=Jabber Azonnali üzenetküldő
Comment[it]=Jabber Messaggistica istantanea
Comment[nb]=Jabber hurtigmeldingssystem
Comment[nn]=Jabber Lynmeldingsprogram
Comment[pl]=Jabber Komunikator
Comment[pt]=Jabber Mensageiro Instantâneo
Comment[pt_BR]=Jabber Mensageiro Instantâneo
Comment[ru]=Jabber Мгновенные сообщения
Comment[sl]=Jabber Neposredno sporočanje
Comment[sr]=Jabber Брзи гласник
Comment[sv]=Jabber Direktmeddelandeklient
Comment[ta]=Jabber உடனடி தூதர்
Comment[uz]=Jabber Хабар алмашиш
Comment[xx]=Jabber xxInstant Messengerxx
Comment[zh_CN]=Jabber 即时消息客户程序
