setuptools
git+https://dev.gajim.org/gajim/python-nbxmpp.git
https://gajim.org/downloads/snap/win/build/pybonjour-1.1.1.zip
protobuf
pycrypto
cryptography
cx_freeze==4.3.4
keyring
pypiwin32
pyopenssl
pyasn1
future
python-gnupg
pillow
pycurl
docutils
pygments
qrcode
