Source: gajim
Section: net
Priority: optional
Maintainer: Yann Le Boulanger <asterix@lagaule.org>
Standards-Version: 3.6.1.1
Build-Depends: debmake, python-dev, libgtk2.0-dev, python-gtk2-dev

Package: gajim
Architecture: any
Section: net
Priority: optional
Depends: python (>= 2.3), python-glade2 (>= 2.4.0), python-gtk2 (>= 2.4.0)
Suggests: python-gnupginterface
Description: jabber client in python
 Gajim is a Jabber client, like Psi, based on a plugin system.
 logger and gtkgui plugins are included.
