#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

PYTHON = python2.4
PYTHONVER = 2.4
CFLAGS = `pkg-config --cflags gtk+-2.0 pygtk-2.0` -fPIC -I/usr/include/python$(PYTHONVER) -I.
LDFLAGS = `pkg-config --libs gtk+-2.0 pygtk-2.0`

DEB_MAKE_BUILD_TARGET    := all PYTHON=python2.4
DEB_MAKE_INSTALL_TARGET = install PYTHON=python2.4 PREFIX=/usr DESTDIR=$(DEB_DESTDIR)

binary-install/gajim::
	dh_python -pgajim /usr/share/gajim/src
