/* Gajim Application CSS File */

.chatcontrol-actionbar-button {
	padding: 0px 5px 0px 5px;
	background-color: @theme_base_color; 
	border: none;
}

.message-action-box { margin: 8px 13px 8px 8px }

.no-border { border: none; }
.scrolled-no-border { border: none; }
.no-scroll-indicator undershoot.top, undershoot.bottom { background-image: none; }
.scrollbar-style scrollbar trough {background-color:@theme_base_color; }
.scrollbar-style scrollbar {border:none; }
.one-line-scrollbar scrollbar.vertical slider { min-height: 20px; }

.dialog-margin > box { margin: 18px;}

#MessageWindow, #RosterWindow paned { background-color:  @theme_base_color; }

.solid-background {
    background-color: @theme_base_color;
}

#DropArea {background-color: @theme_base_color;}

.chatcontrol-separator-top {margin-top: 5px;}

.chatcontrol-separator {margin-bottom: 5px;}

.message-input-border {
    border: 2px solid @theme_unfocused_bg_color;
    border-radius: 4px;
}
.message-input-focus {
    border: 2px solid @theme_selected_bg_color;
    border-radius: 4px;
}

.transparent-selection > selection {
    background-color: transparent;
    color: @theme_fg_color;
}

row:backdrop { transition: none; }

.conversation-row:hover button {
    opacity: 1;
}

.conversation-row {
    padding: 10px 3px 4px 6px;
    border-radius: 4px;
}

.merged { padding-top: 1px;}

.conversation-row grid textview:not(.sourceview) {
	background: transparent;
}
.conversation-row grid textview:not(.sourceview) text {
	background: transparent;
}
.retracted-message {
    opacity: 0.4;
}
@keyframes highlight {
    from { background: rgb(140, 160, 180); }
    to { background: transparent; }
}
.conversation-search-highlight {
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-name: highlight;
}
.conversation-system-row {
    padding: 18px;
}
.conversation-date-row {
    padding: 12px;
}
.conversation-command-row label {
    font-weight: 600;
    border-radius: 6px;
    padding: 12px;
}
.conversation-subject-box,
.conversation-call-box {
    border-radius: 6px;
    padding: 12px;
}
.conversation-call-box label {
    font-size: 90%;
}
.conversation-meta {
    color: @insensitive_fg_color;
    font-size: 90%;
}
.conversation-read-marker {
    color: @insensitive_fg_color;
    font-size: 90%;
    font-style: italic;
}
.conversation-nickname {
    font-size: 90%;
    font-weight: bold;
}
.code-widget {
    border: 1px solid @borders;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.code-widget-header {
    background-color: alpha(@insensitive_fg_color, 0.4);
    padding: 0 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.code-widget-header label {
    font-size: 90%;
}
.code-widget-header button {
    padding: 0;
}

.file-transfer {
    padding: 10px;
    margin: 5px;
    background-color: @theme_unfocused_base_color;
    border: 1px solid @borders;
    border-radius: 5px;
}

.preview-box {
    border: 1px solid;
    border-color: @borders;
    border-radius: 4px;
    padding: 10px;
    background-color: @theme_unfocused_base_color;
}
.preview-image-button,
.preview-image-button:hover {
    padding: 0px;
    border: none;
    transition: none;
    -gtk-icon-effect: none;
    -gtk-icon-shadow: none;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}
.preview-button {
    border: 1px solid @borders;
}

.link-button { min-height: 0px; }

/* Main Window */
.mainwindow-grid {
    background: @theme_base_color;
}

/* Generic elements */
.account-identifier-bar {
	border-radius: 6px;
}
.selection-bar {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.small-label {
    font-size: 90%;
}

/* ChatList with Workspace and Account sidebars */
.chatlist-left-grid {
    border-right: 1px solid @unfocused_borders;
    background: @theme_bg_color;
}

.app-sidebar-image {
    background: @unfocused_borders;
    padding: 4px;
}
.app-page-box {
    margin-top: 3px;
}
.app-page-box > separator {
    background-color: @unfocused_borders;
    margin-left: 12px;
    margin-right: 12px;
}
.app-page {
    padding: 18px;
}
.app-message-listbox row {
    border: 1px solid @borders;
}

/* Workspace sidebar */
.workspace-scrolled {
    background: transparent;
}
.workspace-sidebar {
	background: transparent;
	margin-right: 6px;
}
.workspace-sidebar-item {
	padding-top: 0px;
	padding-bottom: 0px;
}
.workspace-sidebar-item:selected,
.workspace-sidebar-item:hover,
.workspace-sidebar-item:focus {
	background: transparent;
	box-shadow: none;
	outline: none;
}
.workspace-sidebar-item .selection-bar {
    margin-top: 6px;
    margin-bottom: 6px;
}
.workspace-sidebar-item:selected .selection-bar {
    background-color: lighter(@theme_selected_bg_color);
}
.workspace-sidebar-item:hover .selection-bar {
    background-color: @theme_selected_bg_color;
}
.workspace-sidebar-item image {
	border-radius: 9px;
	margin: 6px;
}
.workspace-add:hover,
.workspace-add:focus {
    background: transparent;
    box-shadow: none;
    outline: none;
}
.workspace-add button {
    margin: 6px 8px 6px 14px;
}

/* Account sidebar */
.account-sidebar {
    background: transparent;
    margin-bottom: 6px;
}
.account-sidebar-item {
    padding-top: 3px;
    padding-bottom: 3px;
}
.account-sidebar-item:hover,
.account-sidebar-item:selected,
.account-sidebar-item:focus {
    background: transparent;
    box-shadow: none;
    outline: none;
}
.account-sidebar-item .selection-bar {
    margin-top: 3px;
    margin-bottom: 3px;
}
.account-sidebar-item:selected .selection-bar {
    background-color: lighter(@theme_selected_bg_color);
}
.account-sidebar-item:hover .selection-bar {
    background-color: @theme_selected_bg_color;
}
.account-sidebar-item image {
    border-radius: 9px;
    padding: 3px;
}
.account-sidebar-item .account-identifier-bar {
	padding: 0 3px;
    margin: 3px 0;
}
.account-box {
    background-color: mix(@theme_base_color, @theme_fg_color, 0.15);
}
.account-box > separator {
    background-color: darker(@theme_bg_color);
}

/* Account Page */
.account-page {
    background: transparent;
}
.account-page-roster {
	padding: 12px;
}
.account-page-box {
    padding: 18px;
}
/* Roster */
.roster treeview {
	padding: 0 3px;
}
/* Notification listbox */
.notification-listbox {
    background: transparent;
}
.notification-listbox row {
    padding: 12px;
    border: 1px solid @borders;
    border-bottom: 0px;
}
.notification-listbox row:nth-last-child(2) {
    border-bottom: 1px solid @borders;
}

/*Middle Grid*/
.middle-grid > scrolledwindow { background: transparent; }

.chatlist-top-bar {
	padding: 12px;
	background: transparent;
}
.chat-filter-icons {
    background: transparent;
}
.chat-filter-icons button {
    color: @insensitive_fg_color;
}

.chatlist {
    background: transparent;
}
.chatlist-row {
    transition: none;
    padding: 6px 0px 6px 6px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 3px;
    border-radius: 6px;
}
.chatlist-row:active,
.chatlist-row:selected:active {
    box-shadow: none;
}
.chatlist-row:selected {
    background-color: mix(@theme_base_color, @theme_fg_color, 0.1);
    outline: none;
}
.chatlist-row:selected label:not(.unread-counter){
    color: @theme_text_color;
}
.chatlist-row button {
    min-width: 25px;
    min-height: 25px;
    padding: 0px
}
.chatlist-row:selected button {
	color: @theme_fg_color;
    border-color: @borders;
}
.chatlist-row:selected image {
	color: @theme_fg_color;
}

@keyframes composing {
    0%  {
	    -gtk-icon-transform: translate(0px, 2px);
	}
    10% {
	    -gtk-icon-transform: translate(0px, -1px) rotate(20deg);
	}
    30% {
	    -gtk-icon-transform: translate(0px, -1px) rotate(-20deg);
	}
    40% {
	    -gtk-icon-transform: translate(0px, 2px);
	}
    100% {
        -gtk-icon-transform: translate(0px, 2px);
    }
}
.chatstate-icon {
    animation-name: composing;
    animation-duration: 2.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.unread-counter {
    background-color: rgb(22, 100, 169);
    color: rgb(242, 242, 242);
    font-weight: bold;
    font-size: 80%;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}
.unread-counter-silent {
    background-color: rgb(95, 95, 95);
}
.header-box label {
	padding: 12px 18px 6px 18px;
	font-weight: bold;
	color: @insensitive_fg_color;
	font-size: 90%;
}
.header-box-first label {
	padding: 0px 18px 6px 18px;
}

/* Search view */
.search-view {
    padding: 12px;
    border-left: 1px solid @borders;
    background-color: @theme_base_color;
}
.search-view-row-grid textview {
	background: transparent;
}
.search-view-row-grid textview text {
	background: transparent;
}
.search-view-row-grid label {
    font-size: 90%;
}
.search-view-counter label {
    font-style: italic;
    color: @insensitive_fg_color;
}
.search-view-header {
    padding: 12px 6px 6px 6px;
}
.search-view-header label {
    font-size: 90%;
    color: @insensitive_fg_color;
}

.resource-selector list row {
    padding: 6px;
    border-bottom: 1px solid @borders;
}

/*  Profile window */
#NicknameEntry:disabled {
    font-size: 2.3rem;
    font-weight: bold;
    border: none;
    padding: 0px 0px 0px 0px;
    background-color: @theme_unfocused_bg_color;
    color: @theme_fg_color;
}

#ProfileWindow grid { padding: 18px; }
#ProfileWindow grid > button {
    padding-left: 4px;
    padding-right: 4px;
}
#ProfileWindow popover { padding: 6px; }
#ProfileWindow actionbar box  {
    padding: 0px;
}
#ProfileWindow actionbar button {
   margin-top: 12px;
}
.profile-scrolled {
    border: 1px solid @borders;
    border-radius: 4px;
}
.profile-scrolled-read textview {
    background: transparent;
}
.profile-scrolled-read textview text {
    background: transparent;
    color: @theme_text_color;
}

/* Contact Info Window */
.stack-border {
    border: 1px solid;
    border-color: @borders;
}
.stack-header {
    background-color: @insensitive_bg_color;
    border-width: 0 1px 0 1px;
    border-style: none solid none solid;
    border-color: @borders;
    padding: 9px 9px;
}
#ContactNameEntry:disabled {
    font-size: 2.0rem;
    font-weight: bold;
    border: none;
    padding: 0px 0px 0px 0px;
    background-color: @insensitive_bg_color;
    color: @theme_fg_color;
}

/* Emoticon Popover */
popover#EmoticonPopover button { background: none; border: none; box-shadow:none; padding: 0px;}
popover#EmoticonPopover button > label { font-size: 2.0rem; }
popover#EmoticonPopover flowboxchild > label { font-size: 2.0rem; }
popover#EmoticonPopover flowboxchild { padding-top: 5px; padding-bottom: 5px; }
popover#EmoticonPopover scrolledwindow { border: none; }
popover#EmoticonPopover { padding: 5px; background-color: @theme_unfocused_base_color; }

.emoji-chooser-heading { font-size: 1.15rem; font-weight: bold; padding: 5px;}
.emoji-chooser-flowbox { padding-left: 5px; padding-right: 11px; }
.emoji-modifier-chooser-flowbox { padding-left: 5px; }

/* HistorySyncAssistant */
#HistorySyncAssistant notebook { padding: 18px; }
#HistorySyncAssistant progressbar text { color: #000; font-size: 1.6rem; padding: 10px;}
#HistorySyncAssistant list { border: 1px solid; border-color: @borders; }
#HistorySyncAssistant list > row { padding: 10px 30px 10px 30px; }
#HistorySyncAssistant list > row > label { color: @insensitive_fg_color; }
#HistorySyncAssistant list > row.activatable > label { color: @theme_text_color; }
#HistorySyncAssistant list > row.activatable:selected > label { color: @theme_selected_fg_color; }
#FinishedLabel { font-size: 1.2rem; font-weight: bold; }

/* Server Info */
#ServerInfo { border: 1px solid; border-color: @borders; }
#ServerInfo > row:first-child { border-top: 1px solid; border-color: @borders; }
#ServerInfo > row { padding: 10px 20px 10px 10px; }
#ServerInfo > label { padding:10px; color: @insensitive_fg_color; font-weight: bold; }
#ServerInfo > row.activatable:active { box-shadow: none; }

/* Features Info */
#FeaturesInfoGrid { padding: 6px; }
#FeaturesInfoGrid > list { border: 1px solid; border-color: @borders; }
#FeaturesInfoGrid > list > row:first-child { border-top: 1px solid; border-color: @borders; }
#FeaturesInfoGrid > list > row { padding: 10px 20px 10px 10px; }
#FeaturesInfoGrid > list > label { padding:10px; color: @insensitive_fg_color; font-weight: bold; }
#FeaturesInfoGrid > list > row.activatable:active { box-shadow: none; }

/* SettingsBox */
.settings-box > row { border-bottom: 1px solid; border-color: @theme_unfocused_bg_color; }
.settings-box > row:last-child { border-bottom: 0px; }
.settings-box > row.activatable:active { box-shadow: none; }
.settings-box > row { padding: 10px 20px 10px 10px; }
.settings-box > row:not(.activatable) label { color: @insensitive_fg_color; }

window.settings-dialog row {
    border-bottom: 0px;
}

window.settings-dialog list { 
    background: transparent;
    margin: 12px;
}

/* GenericSetting */
#SubDescription { color: @insensitive_fg_color; font-size: 90%;}
#GenericSettingBox { margin-left: 30px; }
#GenericSettingBox > label { padding-right: 3px; }

/* Generic Popover Menu with Buttons */
.PopoverButtonListbox { padding-left: 0px; padding-right: 0px; }
.PopoverButtonListbox > list { margin-top: 10px; margin-bottom: 10px; }
.PopoverButtonListbox > list > row { padding: 10px 20px 10px 20px; }
.PopoverButtonListbox > list > row.activatable:active { box-shadow: none; background-color: @theme_selected_bg_color; }

/* Settings ListBox */
list.settings {
    border: @borders 1px solid;
}
list.settings > row:not(:last-child) {
	border-bottom: @theme_unfocused_bg_color 1px solid;
}
list.settings row { min-height: 52px; }
list.settings > row > box {
    margin: 6px 18px;
}

/* Settings Window */
list.settings-menu row {
    border-bottom: 1px solid;
    border-color: @theme_unfocused_bg_color;
    padding: 14px;
    min-width: 170px;
}
list.settings-menu row label {
    padding-left: 12px;
}
.settings-stack viewport > box {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 25px;
}
.settings-border {
    border: 1px solid;
    border-color: @borders;
}

/* InfoBar */
infobar.info > revealer > box {
    color: #3A87AD;
    background-color: #D9EDF7;
}
infobar.question > revealer > box {
    color: #295A72;
    background-color: #AFDAF0;
}
infobar.warning > revealer > box {
    color: #D06821;
    background-color: #FFEBC0;
}
infobar.error > revealer > box {
    color: #B94A48;
    background-color: #F2DEDE;
}

/*SendFileDialog*/
#SendFileDialog grid list > row { padding: 10px 20px 10px 10px; }

/* Accounts Window */
.accounts-menu { border-right: 1px solid; border-color: @borders;}
.accounts-settings-border {border: 1px solid; border-color: @borders;}
.accounts-settings stack > box { margin:30px; }
.accounts-label-row {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    color: @insensitive_fg_color;}

/* Account Creation */
.tls-error-list {
    border: 1px solid; border-color: @borders;
}
.tls-error-list > row {
    border-bottom: 1px solid; border-color: @theme_unfocused_bg_color;
    padding: 6px;
}
.tls-error-list > row:last-child {
    border-bottom: 0px;
}

/* Start Chat Accounts Treeview */
.start-chat-treeview { padding: 5px; }
.start-chat-treeview:focus {outline: none; }
.start-chat-scrolled { border: 1px solid; border-color:@unfocused_borders; }

/* StartChatListBox */
.start-chat-row { border-bottom: 1px solid; border-color: @theme_unfocused_bg_color; }
.start-chat-row:last-child { border-bottom: 0px; }
.start-chat-row.activatable:active { box-shadow: none; }
.start-chat-row { padding: 10px 20px 10px 10px; }
.start-chat-row:not(.activatable) label { color: @insensitive_fg_color; }
.start-chat-row:focus { outline: none; }

/* ContactFlowBox */
.contact-flowbox-item {
    background-color: alpha(@borders, 0.4);
    border-radius: 12px;
    padding: 6px;
}
.contact-flowbox-item button {
    background: none;
    border: 1px solid alpha(@borders, 0.4);
}
.contact-flowbox-item button:hover {
    border: 1px solid @borders;
}

/* GroupChatRoster */
.groupchat-roster { border-left: 1px solid;
                    border-color: @borders; }
.groupchat-roster treeview { padding-left: 4px; }

/* GroupchatConfig */
#GroupchatConfig stack { border-bottom: 1px solid; border-color: @borders;}
#GroupchatConfig stacksidebar > scrolledwindow {
    background-color: @theme_base_color;
    border-bottom: 1px solid;
    border-color: @borders;
}
#GroupchatConfig treeview { padding: 5px; }

.groupchat-state box {
    background-color: alpha(rgb(70, 70, 70), 0.9);
    padding: 12px;
    border-radius: 6px;
}
.groupchat-state box > label {
    color: rgb(230, 230, 230);
}
.groupchat-state box > spinner {
    color: rgb(230, 230, 230);
}

/* Popover Treeview */
.popover_treeview { border-radius: 3px; background-color: @theme_bg_color; }
.popover_treeview { padding: 6px; }
.popover_treeview :hover { background-color: @theme_selected_bg_color; }

/* .inline-toolbar linked from top */
.ontop-bar {
    border-width: 1px;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    padding: 5px;
}

/* Container with buttons linked from below */
.linked-up * {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Highlighted label */
.tagged {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    padding: 0 3px;
    margin: 0 -3px;
    border-radius: 3px;
    text-shadow: none;
    opacity: 0.95;
}

/* ThemesWindow */
#ThemesWindow grid { padding: 12px; }

.theme_listbox row { border-bottom: 1px solid; border-color: @theme_unfocused_bg_color; padding: 5px 10px 5px 10px;}
.theme_listbox row:last-child { border-bottom: 0px; }
.theme_listbox row.activatable:active { box-shadow: none; }
.theme_listbox row:not(.activatable) label { color: @insensitive_fg_color; }
.theme_listbox row:focus { outline: none; }
.theme_listbox row:hover { background-color: @theme_base_color; }

.theme_remove_button {
    background-color: @theme_base_color; 
    border: none;
    background-image: none; }

.theme_remove_button:focus {outline: none;}

.theme_popover_listbox { padding: 10px; }
.theme_popover_listbox row { padding: 5px; }
.theme_popover_listbox row:focus { outline: none; }


/* Text style */

.bold { font-weight: bold; }
.bold16 {
    font-size: 1.33rem;
    font-weight: bold;
}
.bold24 {
    font-size: 2.0rem;
    font-weight: bold;
}
.large-header {
    font-size: 1.75rem;
    font-weight: bold;
}
.insensitive-fg-color {color: @insensitive_fg_color;}

/* Padding/Margins */
.margin-right18 { margin-right: 18px; }
.margin-top6 { margin-top: 6px; }
.margin-top12 { margin-top: 12px; }
.margin-3 { margin: 3px; }
.margin-12 { margin: 12px; }
.margin-18 { margin: 18px; }
.padding-6 { margin: 6px; }
.padding-12 { margin: 12px; }
.padding-18 { margin: 18px; }
.padding-left30 { padding-left: 30px; }

/* Treeview */
treeview.space { padding: 6px; }

/* GtkLinkButton style */
button.flat.link { padding: 0; border: 0; }

/*MessageWindow Notebook*/
.notebook-tab-label { min-width: 80px; }

/*Icon colors*/
.success-color { color: @success_color; }
.error-color { color: @error_color; }
.warning-color { color: @warning_color; }
.selected-color { color: @theme_selected_bg_color; }

/*Encryption*/
.encrypted-color { color: rgb(75, 181, 67); }
.unencrypted-color { color: @error_color; }

/*Receipts*/
.receipt-received-color { color: rgb(75, 181, 67); }

/*Dataforms*/
.field-fixed { font-size: 1.33rem; font-weight: bold; padding-top:5px;}
.data-form-title { font-size: 1.33rem; font-weight: bold; }
.data-form-widget grid { margin: 0px 18px 18px 18px; }
.data-form-widget treeview { padding: 5px; }
.data-form-widget scrolledwindow { border: 1px solid; border-color:@unfocused_borders; }
.data-form-widget textview { padding: 5px; }

/*Image Preview*/
.preview-image { box-shadow: 0px 0px 3px 0px alpha(@theme_text_color, 0.2); }

/* Badge */
.badge {
    color: rgb(242, 242, 242);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    font-size: 80%;
    font-weight: bold;
}

@keyframes pulse {
    0%  { -gtk-icon-transform: scale(1.0); }
    20% { -gtk-icon-transform: scale(1.1); }
    35% { -gtk-icon-transform: scale(1.0); }
}

.audio-mic-animation {
    animation-name: pulse;
    animation-duration: 2.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* Treeview */
.adhoc-treeview { padding: 5px; }
.adhoc-scrolled { border: 1px solid; border-color:@unfocused_borders; }

/* Search Dialog */
.search-treeview { padding: 5px; }
.search-scrolled { border: 1px solid; border-color:@unfocused_borders; }

.gajim-treeview { padding: 4px; }
.gajim-treeview check { padding: 0px; }
.gajim-scrolled { border: 1px solid; border-color:@unfocused_borders; }


#GroupchatJoin > box {padding: 18px; }

.assistant-grid { padding: 18px; margin: 6px;}
.assistant-grid > box stack  { padding: 18px; }

/* Windows notification */
#NotificationPopup {
    background-color: #333333;
    padding: 4px;
}
#NotificationPopup label {
    color: #FFF;
}
#NotificationPopup button {
    border-width: 0;
    background-image: none;
    background-color: inherit;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}
#NotificationPopupTitle {
    font-weight: bold;
}


popover.combo list {
    min-width: 200px;
    margin: 12px;
}
popover.combo { padding: 0px; }
popover.combo list {
    border-style: none;
    background-color: transparent;
}
popover.combo list > row {
    padding: 0px 12px 0px 12px;
    min-height: 40px;
}
popover.combo list > row:not(:last-child) { border-bottom: 1px solid alpha(#cdc7c2, 0.5); }
popover.combo scrollbar.vertical { padding-top: 2px; padding-bottom: 2px; }
popover.combo scrollbar.vertical {
    padding-top: 2px;
    padding-bottom: 2px;
}

messagedialog.confirmation-dialog > box { margin-top: 18px; }

.conversation-quote {
    padding-bottom: 6px;
}
.conversation-quote textview text,
.conversation-quote label {
    color: alpha(@theme_text_color, 0.6);
}
.conversation-quote-bar {
    background-color: alpha(@theme_text_color, 0.2);
}
.conversation-more-button {
    padding-top: 0px;
    padding-bottom:0px;
    min-height: 16px;
    opacity: 0;
    transition: none;
    border: none;}

.conversation-more-button:checked {
    opacity: 1;
    background-image: none;
}

.conversation-more-button:active {
    background-image: none;
}

.conversation-more-button:hover {
    border: none;
    transition: none;
    -gtk-icon-effect: none;
    -gtk-icon-shadow: none;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}
