name: Gajim MacOS Nightly Build

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  arm64:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Go in mac directory
        run: cd mac/
      - name: Build Gajim
        run: bash gajim-macos-helper.sh build ci
      - name: Create Gajim dmg
        run: bash gajim-macos-helper.sh create-dmg ci
      - name: Upload dmg file via FTPS
        run: "PATH=/opt/homebrew/opt/curl/bin:$PATH curl -T gajim-source/gajim-*.dmg --ssl-reqd ftp://${{ secrets.ftp_user }}:${{ secrets.ftp_password }}@${{ secrets.ftp_server }}/./downloads/snap/macos/arm64/"
  x86_64:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4
      - name: Go in mac directory
        run: cd mac/
      - name: Build Gajim
        run: bash gajim-macos-helper.sh build ci
      - name: Create Gajim dmg
        run: bash gajim-macos-helper.sh create-dmg ci
      - name: Upload dmg file via FTPS
        run: "PATH=/opt/homebrew/opt/curl/bin:$PATH curl -T gajim-source/gajim-*.dmg --ssl-reqd ftp://${{ secrets.ftp_user }}:${{ secrets.ftp_password }}@${{ secrets.ftp_server }}/./downloads/snap/macos/x86_64/"
